@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Colours
$air: #4b8bdb;
$sea: #5e5a86;
$autumn: #db824b;
$amber: #dba84b;
$subtle-light: #8a7755;
$subtle-dark: #5c534d;

$air-text: white;
$sea-text: white;

// Grid
$grid-unit: 16px;

@mixin padded {
  padding: $grid-unit;
}

// Typography
@mixin heading {
  $size: $grid-unit * 3;
  font-size: $size;

  .icon {
    height: $size;
  }
}

@mixin secondary {
  $size: $grid-unit * 1.5;
  font-size: $size;

  .icon {
    height: $size;
  }
}

@mixin body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;

  $size: $grid-unit * 1.25;
  font-size: $size;

  line-height: 1.35;

  .icon {
    height: $size;
  }

  a {
    color: $amber;
  }

  a:visited {
    color: $autumn;
  }
}

// Styles
html {
  @extend .sea;
}

body {
  @include body;

  padding: 0;
  margin: 0;

  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.air {
  background-color: $air;
  color: $air-text;
}

.sea {
  background-color: $sea;
  color: $sea-text;
}

.translucent {
  background-color: rgba($subtle-dark, 0.7);
  backdrop-filter: saturate(100%) blur(20px);
  color: white;
}

.navigation {
  @include secondary;

  position: fixed;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Use margins on the first and final items instead of padding
   * as padding is not included in flexbox calculations. */
  padding-top: $grid-unit;
  padding-bottom: $grid-unit;

  > :first-child {
    margin-left: $grid-unit;
  }

  > :last-child {
    margin-right: $grid-unit;
  }

  .end {
    display: flex;
    flex-direction: row;

    * {
      &:not(:first-child) {
        margin-left: $grid-unit * 0.5;
      }

      &:not(:last-child) {
        margin-right: $grid-unit * 0.5;
      }
    }

    a:has(> .icon) {
      display: block;
      height: $grid-unit * 1.5;
    }
  }
}

.intro {
  @include secondary;

  padding: $grid-unit * 3;
  padding-top: $grid-unit * (3.5 + 3);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & > h1,
  & > h2 {
    display: block;
    margin: 0;
  }

  & > h1 {
    @include heading;
  }

  & > h2 {
    margin-top: $grid-unit;
  }
}

.content {
  @include body;
  @include padded;

  margin-left: auto;
  margin-right: auto;

  max-width: 1280px;

  h2 {
    @include secondary;
    color: $amber;

    margin-top: 0;
    margin-bottom: $grid-unit * 0.5;
  }

  p {
    margin-top: 0;
    margin-bottom: $grid-unit;
  }
}
